body {background-color: skyblue;
  margin: 0;
  font-family: Arial;
}



div {
  background-color: ;
  height: 100px;
  margin: 0;


  background-repeat: no-repeat;
  background-position: 400px;
}


li{
  display: inline-block;
  height: 30px;
  margin: 0;
  padding: 5px;
  line-height: 30px;
  background-color: lime;
}


li:hover{
  background-color: white;
}

img{
  padding: 25px;
}


a{
  text-decoration: none;
  color: blue;
}


h1, p {
  width: 350px;
  padding: 25px;
  background-color: ;
}


h1 {
  margin:0;
  background-color: ;
}


p{
  padding: 0 25px;
  background-color: ;
  margin: 0;
}


#primera {
  height: 40px;
}


#segona {
  height: 550px;

  background-image:url(img/img-hero-full-list.png);
}


#tercera {
  height: 641px;

  background-image:url(img/allinone.jpg);
}


#quarta {
  height: 500px;

  background-image:url(img/curator-short.png);
}


#cinquena {
  height: 550px;

  background-image:url(img/img-hero-full-list.png);
}


#sisena {
  height: 550px;

  background-image:url(img/mobile-share.png);

}


#setena {
  height: 643px;

  background-image:url(img/anywhere.png);
}


#vuitena {
  height: 200px;
  text-align: center;
}


#boto {
  background-color: lime;
  height: 70px;
  width: 70px;

  /*POSICIONAMENT*/
  position: fixed;
  bottom: 50px;
  right: 100px;

  /*TEXT*/
  text-align: center;
  line-height:90px;
  font-size: 62px;
  color: white;


  /*CAIXA*/
  border-radius: 35px;
  box-shadow: 2px 2px 5px black;
  background: url(img/sources.png);
  background-position: -227px -8px;
  opacity: 0.5;
 }

.blanca {
  background-color: #FFF
}

.verda {
background-color: #6C3
}

.fosca {
background-color: #333
}

.clara {
  background-color: #EEECEE

}
