/*
2rem=32px
1rem=16px
0.5rem=8px
0.4rem=6.4px
0.3rem=4.8px
0.2rem=3.2px
0.1rem=1.6px

DE PIXELS A REM PER FACTOR DE CONVERSIO
16px=1rem
17px=1.0625rem
18px=1.125rem
30px=1.875rem

EX: 30px·1rem/16px= 1.875rem

*/

html{
  font-size: 16px;
}

body {background-color: skyblue;
  margin: 0;
  font-family: Arial;
}

div {
  background-color: ;
  height: 3.125rem;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 25rem;
}


li{
  display: inline-block;
  height: 1.875rem;
  margin: 0;
  padding: 0.3125rem;
  line-height: 2.19rem;
  background-color: lime;
}


li:hover{
  background-color: white;
}

img{
  padding: 1.5625rem;
}


a{
  text-decoration: none;
  color: blue;
}


h1, p {
  width: 21.875rem;
  padding: 1.5625rem;
  background-color: ;
}


h1 {
  margin:0;
  background-color: ;
}


p{
  padding: 0 1.5625rem;
  background-color: ;
  margin: 0;
}

b{
  color:white;
  background-color: black;
  height: 3.125rem;
}

#primera {
  height: 2.5rem;
}


#segona {
  height: 34.375rem;

  background-image:url(img/img-hero-full-list.png);
}


#tercera {
  height: 40.0625rem;

  background-image:url(img/allinone.jpg);
}


#quarta {
  height: 31.25rem;

  background-image:url(img/curator-short.png);
}


#cinquena {
  height: 34.375rem;

  background-image:url(img/img-hero-full-list.png);
}


#sisena {
  height: 34.375rem;

  background-image:url(img/mobile-share.png);

}


#setena {
  height: 40.1875rem;

  background-image:url(img/anywhere.png);
}


#vuitena {
  height: 12.5rem;
  text-align: center;
}


#boto {
  /*DIMENSIONS*/
  background-color: lime;
  height: 4.375rem;
  width: 4.375rem;

  /*POSICIONAMENT*/
  position: fixed;
  bottom: 3.125rem;
  right: 6.25rem;

  /*TEXT*/
  text-align: center;
  line-height:5.625rem;
  font-size: 3.875rem;
  color: white;


  /*CAIXA*/
  border-radius: 2.1875rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem black;
  background: url(img/sources.png);
  background-position: -14.1875rem -0.5rem;
  opacity: 0.9;
 }

.blanca {
  background-color: #FFF
}

.verda {
background-color: #6C3
}

.fosca {
background-color: #333
}

.clara {
  background-color: #EEECEE

}



/*DISSENY PER MOBIL*/
@media screen and (max-width: 960px) {
  div {
    background-image:url();
  }



li {
  display: block;
  background-color: orange;
  height: 1.875rem;
  margin: 0;
  padding: 0.3125rem;
  line-height: 2.19rem;
}


#primera {
  height: 16.875rem;
}
}




/*DISSENY PER IMPRIMIR*/
@media print {
  body {
    width: 210mm;
    height: 297mm;
    background-color: white;
    margin-top: 30mm;
    margin-left: 15mm;
  }

  div {
    width: 95mm;
    display: inline-block;
  }

  h1 {
    font-size: 16pt;
    margin: 0;
    font-family: Verdana;
  }

  #primera {
    display: none;
  }

  #segona {
    height: 80mm;  }

  #tercera {
    height: 80mm;
  }

  #quarta {
    height: 80mm;
  }

  #cinquena {
    height: 80mm;
  }

  #sisena {
    height: 80mm;
  }


  #setena {
    height: 80mm;
  }


  #vuitena {
    display: none;
  }

  #boto {
    display: none;
  }


  .blanca {
    background-color: yellow;
  }
}
